@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
}
.header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 100000;

}
.header1{
    padding: 8px 0;
    text-shadow: #000000 0px 0px 0px;
    letter-spacing:1.5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 100;
    background-color: #fbf3f7;
    height: 37px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header2{
    display: flex;
    width: 100%;
    height: 66px;
    background-color: #00081c;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.header2 .header2trai{
    display: flex;
    gap: 10px;
}
.header2 .header2giua{
    letter-spacing: 8px;
    color: white;
    font-weight: 700;
}
.header2 .header2phai{
    display: flex;
    gap: 10px;
}
.header3{
    display: flex;
    height: 52px;
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    background-color: #00081c;
    color: white;
}
.header3 p{
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}
/*section1*/
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding: 1rem;
    background-color: #f5f5f5;
    margin-top: 155px;

}
.section1 p{
    font-weight: 100; 
}
/*section1*/
/*section*/
section{
    max-width: 1500px;
    min-height: 100vh;
    margin: 0 auto;
}
.section2 p{
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    color: black;
}
.section2{
    height: 133px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
}
/*section*/
/*section3*/
.section3{
    display: grid;
    grid-template-columns: 370px 370px 370px 370px;
    grid-template-rows: 314px;
    justify-content: center; /* horizontal centering */
    align-items: center;
    margin-top: 10px; 
    gap: 10px;

}
.section3 .khu1{
    background-image: url(anh1\ \(1\).jpg);
    height: 315px;
    object-fit: cover;
    background-size:cover ;
}
.section3 .khu2{
    background-image: url(anh1\ \(2\).jpg);
    height: 315px;
    object-fit: cover;
    background-size:cover ;
}
.section3 .khu3{
    background-image: url(anh1\ \(3\).jpg);
    height: 315px;
    object-fit: cover;
    background-size:cover ;
}
.section3 .khu4{
    background-image: url(anh1\ \(4\).jpg);
    height: 315px;
    object-fit: cover;
    background-size:cover ;
}
/*section3*/
/*section4*/
.section4{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 254px;
    justify-content: center;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    color: black;
}
.section4 .watch{
    font-size: 18px;
}
/*section4*/
/*section5*/
.section5{
    display: grid;
    grid-template-columns:380px 380px 380px 380px;
    max-width: 1550px;
    margin-left: 190px;
    margin-right: 190px;
    height: 470px;
    gap: 5px;
    margin: 0 auto;
    z-index: 1;
}
.section5 .khu1{
    background-color: #f5f5f5;
    cursor: pointer;
    
}
.section5 .khu1 .khu11{
    background-image: url(dong1\ \(1\).png);
    background-size: cover;
    background-position: center;
    height: 347px;
    position: relative;
    margin-bottom: 20px;
}
.section5 .khu1 .khu112{
    background-image: url(dong1\ \(2\).png);
    background-size: cover;
    background-position: center;
    height: 347px;
    position: relative;
    margin-bottom: 20px;
}
.section5 .khu1 .khu113{
    background-image: url(dong1\ \(3\).png);
    background-size: cover;
    background-position: center;
    height: 347px;
    position: relative;
    margin-bottom: 20px;
}
.section5 .khu1 .khu114{
    background-image: url(dong1\ \(4\).png);
    background-size: cover;
    background-position: center;
    height: 347px;
    position: relative;
    margin-bottom: 20px;
    
}
.section5 .khu1 .khu11 .rose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section5 .khu1 .khu11 .heart{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section5 .khu1 .khu112 .rose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section5 .khu1 .khu112 .heart{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section5 .khu1 .khu113 .rose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section5 .khu1 .khu113 .heart{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section5 .khu1 .khu114 .rose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section5 .khu1 .khu114 .heart{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section5 .khu1 .khu12{
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 1rem;
}
.section5 .khu1 .khu12 .color{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section5 .khu1 .khu12 .tittle{
    font-weight: 200;
    font-size: 8px;
    letter-spacing: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 19px;
    width: 124px;
}
.section5 .khu2{
    background-color: black;
}
/*section5*/
/*section6*/
.section6{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 254px;
    justify-content: center;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    color: black;
}
.section6 .watch{
    font-size: 18px;
}
/*section6*/
/*section5*/
.section7{
    display: grid;
    grid-template-columns:380px 380px 380px 380px;
    max-width: 1550px;
    margin-left: 190px;
    margin-right: 190px;
    height: 470px;
    gap: 5px;
    margin: 0 auto;
    
}
.section7 .khu1{
    background-color: #f5f5f5;
    cursor: pointer;
    
}
.section7 .khu1 .khu11{
    background-image: url(ring\ \(2\).png);
    background-size: cover;
    background-position: center;
    height: 347px;
    position: relative;
    margin-bottom: 20px;
}
.section7 .khu1 .khu112{
    background-image: url(ring\ \(1\).png);
    background-size: cover;
    background-position: center;
    height: 347px;
    position: relative;
    margin-bottom: 20px;
}
.section7 .khu1 .khu113{
    background-image: url(ring\ \(3\).png);
    background-size: cover;
    background-position: center;
    height: 347px;
    position: relative;
    margin-bottom: 20px;
}
.section7 .khu1 .khu114{
    background-image: url(ring\ \(4\).png);
    background-size: cover;
    background-position: center;
    height: 347px;
    position: relative;
    margin-bottom: 20px;
}
.section7 .khu1 .khu11 .rose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section7 .khu1 .khu11 .heart{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section7 .khu1 .khu112 .rose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section7 .khu1 .khu112 .heart{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section7 .khu1 .khu113 .rose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section7 .khu1 .khu113 .heart{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section7 .khu1 .khu114 .rose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section7 .khu1 .khu114 .heart{
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
}
.section7 .khu1 .khu12{
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 1rem;
}
.section7 .khu1 .khu12 .color{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section7 .khu1 .khu12 .tittle{
    font-weight: 200;
    font-size: 8px;
    letter-spacing: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 19px;
    width: 124px;
}
.section7 .khu2{
    background-color: black;
}
/*section5*/